In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
people = pd.read_csv('people.csv')
people

      Name  Height   GPA  Num of Friends      Sports       Shoes
0  Emerson      65  3.06             213      Soccer    Sneakers
1   Jessie      61  2.41             202  Basketball  Flip Flops
2   Sawyer      67  2.96             314      Tennis  Flip Flops
3   London      64  3.98             436      Soccer    Sneakers
4   Dakota      72  3.15             307  Basketball    Sneakers
5   Hayden      68  3.50             335      Tennis  Flip Flops
6  Charlie      61  1.10              34    Baseball  Flip Flops
7   Kamryn      66  2.18             200      Soccer    Sneakers

In [ ]:
X = people['GPA'].values.reshape(-1, 1)
y = people['Num of Friends'].values.reshape(-1, 1)
people.plot(x='GPA', y='Num of Friends', style='o')

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
print(regressor.intercept_)

In [ ]:
print(regressor.coef_)